.idea
.vscode
.DS_Store
coverage
doc
example
node_modules
reference
script
src/
.coveralls.yml
.editorconfig
.eslintrc.json
.gitignore
.travis.yml
docker-compose.yml
jest.config.js
package-lock.json
tsconfig.json
tsconfig.app.json
tsconfig.spec.json
