.vscode
.DS_Store
coverage
doc
example
node_modules
reference
script
src/**/*.spec.ts
tools
.coveralls.yml
.editorconfig
.eslintrc.json
.gitignore
.travis.yml
docker-compose.yml
jest.config.js
tsconfig.json
tsconfig.spec.json
tslint.json
